In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("D:\\MACHINE LEARNING\\Part 2 - Regression\\Section 5 - Multiple Linear Regression\\50_Startups.csv")
df.head(5)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
X = df.iloc[:,:-1].values
Y = df.iloc[:,4].values

In [4]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

labelencoder_X = LabelEncoder()
X[:,3]=labelencoder_X.fit_transform(X[:,3])

In [5]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

ct = ColumnTransformer([('one_hot_encoder',OneHotEncoder(categories='auto'),[3])],remainder='passthrough')

X = np.array(ct.fit_transform(X), dtype=np.float)

In [6]:
# Avoiding Dummy Variable Trap

X=X[:,1:]

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [8]:
from sklearn.linear_model import LinearRegression
linear_regressor = LinearRegression()

In [9]:
linear_regressor.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
y_pred = linear_regressor.predict(X_test)

In [11]:
y_pred

array([103015.20159796, 132582.27760816, 132447.73845175,  71976.09851259,
       178537.48221054, 116161.24230163,  67851.69209676,  98791.73374688,
       113969.43533012, 167921.0656955 ])

In [12]:
np.printoptions(precision=2)

In [21]:
print(np.concatenate((y_pred.reshape(len(y_pred),1),Y_test.reshape(len(Y_test),1)),1))

[[103015.20159796 103282.38      ]
 [132582.27760816 144259.4       ]
 [132447.73845175 146121.95      ]
 [ 71976.09851259  77798.83      ]
 [178537.48221054 191050.39      ]
 [116161.24230163 105008.31      ]
 [ 67851.69209676  81229.06      ]
 [ 98791.73374688  97483.56      ]
 [113969.43533012 110352.25      ]
 [167921.0656955  166187.94      ]]